{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
            <div class="card p-4">
                <div class="card-body col-md-10 offset-md-1">
                    <h1>Register</h1>
                    <p class="text-muted">Sign In to your account</p>

                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          <strong>Atention!</strong> There are errors on form.     
                        </div>
                    {% endif %}


                    <form class="ui form" id="register_user" accept-charset="UTF-8" method="post" action="{% url 'register' %}">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input type="submit" value="Register" class="btn btn-primary px-4">

                </form>
                </div>
            </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
